@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Mukta:wght@200;300;400;500;600;700;800&display=swap");

body {
  font-family: "Mukta", sans-serif;
  color: rgb(43, 43, 43);
  font-size: 14px;
  line-height: 28px;
}
/* 혹시 가로 스크롤이 생길수 있기 때문에 생기지 말라고 전체를 감싸주는 것이다. */
.wrapper {
  width: 100%;
  height: auto;
}
section {
  margin-top: 100px;
  padding: 80px 0;
}
/* header */
header {
  width: 100%;
  height: 100px;
  box-shadow: 0 0 7px rgb(0, 0, 0, 0.3);
  /* 헤더에 픽스드가 들어가 있으면 드롭쉐도우 오류가 사라진다. 
  반응형으로 두어서 일시적인 오류가 난건데 나중에 반응형 만들때 조정이 다 가능하다. 신경 ㄴㄴ */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #fff;
}
.header_wrap {
  width: 1500px;
  height: 100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

/* header Logo */
h1 {
  width: 55px;
  height: 55px;
  padding: 22px 0;
}

h1 img {
  /* 반응형 할 때 많이 쓴다. 부모 넓이가 정해져 있어야한다. 
    보통 이미지는 가로만 */
  max-width: 55px;
}

/* nav */
#gnb {
  width: 800px;
  /* 아래 2차 메뉴가 있기 때문에 우선 height를 auto로 불러옴 */
  height: auto;
}
/* 2차 메뉴가 있어서 자손으로 불러옴 */
#gnb > ul {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  /* align-items: center; 를 주면 2차 메뉴가 숨기 때문에 주지 않고 line-height를 줄 것이다. */
}
#gnb > ul > li {
  line-height: 100px;
  text-align: center;
  position: relative;
}
#gnb > ul > li:hover > a {
  color: rgb(23, 23, 153);
}
li > .submenu {
  /* 넓이에 픽셀값을 주면 위의 1차메뉴도 같이 움직여진다. */
  width: 130px;
  height: 195px;
  line-height: 65px;
  position: absolute;
  top: 98px;
  left: 50%;
  background-color: #ffffff;
  transform: translateX(-50%);
  box-shadow: 0 2px 3px rgb(0, 0, 0, 0.3);
  display: none;
}
.submenu > li {
  width: 130px;
  height: 65px;
  text-transform: uppercase;
}
.submenu a {
  display: block;
  width: 100%;
  height: 100%;
}
#gnb > ul > li:hover .submenu {
  display: block;
  transition: 3s;
}
.submenu > li:hover a {
  box-shadow: inset 0 0 2px rgb(0, 0, 0, 0.2);
  color: rgb(23, 23, 153);
  border-bottom: 2px solid rgb(23, 23, 153);
  box-sizing: border-box;
}
/* header icon */
/* 모바일에서 48px 정도는 되어야 손으로 터치가능하다. */
.header_icons {
  width: fit-content;
  height: 48px;
  padding: 26px 0;
  column-gap: 4px;
  display: flex;
}
.header_icons > a {
  display: block;
  width: 48px;
  height: 48px;
  padding: 16px;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: #fff;
}

.header_icons > a > div {
  width: 17px;
  height: 17px;
  background-image: url(../img/top_ico.png);
  background-repeat: no-repeat;
}
/* facebook이라는 클래스가 여러곳에 들어가 있을 경우 쓰는문법 */
div.facebook {
  background-position: 3px 0;
}
div.twitter {
  background-position: -33px 0;
}
div.pinterest {
  background-position: -69px 0;
}
div.instargram {
  background-position: -100px 0;
}
div.search {
  /* 픽셀 말고 right를 쓸 수 있음 */
  background-position: -154px 0;
}

.header_icons > a:hover {
  background-color: #ececec;
}

/* 컨텐츠 영역 */
.main_text {
  width: 100%;
  height: auto;
  text-align: center;
  position: relative;
}
::selection {
  background-color: #c22e2e;
  color: #fff;
}
.main_text > h4 {
  font-family: "DM Serif Display", serif;
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 5px;
}
.main_text > h2,
.point {
  font-family: "DM Serif Display", serif;
  font-size: 70px;
  font-weight: 600;
  line-height: 80px;
  text-transform: capitalize;
}
.main_text > p {
  margin-top: 30px;
  font-size: 16px;
}
.main_text b {
  font-weight: 700;
}
h2 > span {
  color: rgb(194, 46, 46);
}
.point {
  overflow: hidden;
  position: relative;
  -webkit-transition: all 3s ease;
  transition: all 3s ease;
}
.point:before {
  position: absolute;
  content: "";
  display: inline-block;
  top: -180px;
  left: 0;
  width: 100px;
  height: 100%;
  background-color: rgb(255, 255, 255, 0.5);
  animation: shiny-point 3s ease-in-out infinite;
}
@-webkit-keyframes shiny-point {
  0% {
    -webkit-transform: scale(0) rotate(45deg);
    opacity: 0;
  }
  80% {
    -webkit-transform: scale(0) rotate(45deg);
    opacity: 0.5;
  }
  81% {
    -webkit-transform: scale(4) rotate(45deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(50) rotate(45deg);
    opacity: 0;
  }
}
/* 검색창 */
.search {
  width: 600px;
  height: 40px;
  padding: 10px 20px;
  background-color: #fff;
  box-shadow: 0px 0px 4px rgb(215, 215, 215);
  box-sizing: border-box;
  border-radius: 25px;
  display: flex;
  margin: 0 auto;
  margin-top: 30px;
}
.search img {
  width: 20px;
  height: 20px;
}

.search input[type="text"] {
  display: table-cell;
  width: 100%;
  font-size: 16px;
  line-height: 25px;
  border: transparent;
  outline: none;
}
.search:hover {
  -webkit-transition: box-shadow 0.5s;
  transition: box-shadow 0.5s;
  box-shadow: 0 0 7px rgba(110, 34, 34, 0.2), 0 0 7px rgba(110, 34, 34, 0.3);
}
/* 공통 버튼 */
main {
  background-color: #ffffff;
}
button {
  border: none;
  background: none;
}
.button {
  margin-top: 30px;
  padding: 20px 30px;
  border-radius: 40px;
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: 100px;
  background: #000000;
  color: #fff;
  -webkit-transition: background-color 0.3s, color 0.3s;
  transition: background-color 0.3s, color 0.3s;
}
.button::before {
  content: "";
  position: absolute;
  top: -20px;
  left: -20px;
  bottom: -20px;
  right: -20px;
  background: inherit;
  border-radius: 50px;
  z-index: -1;
  opacity: 0.4;
  -webkit-transform: scale3d(0.8, 0.5, 1);
  transform: scale3d(0.8, 0.5, 1);
}
.button:hover {
  -webkit-transition: background-color 0.1s 0.3s, color 0.1s 0.3s;
  transition: background-color 0.1s 0.3s, color 0.1s 0.3s;
  color: #eceff1;
  background-color: #c22e2e;
  -webkit-animation: anim-moema-1 0.3s forwards;
  animation: anim-moema-1 0.3s forwards;
}
.button:hover::before {
  -webkit-animation: anim-moema-2 0.3s 0.3s forwards;
  animation: anim-moema-2 0.3s 0.3s forwards;
}
@-webkit-keyframes anim-moema-1 {
  60% {
    -webkit-transform: scale3d(0.8, 0.8, 1);
    transform: scale3d(0.8, 0.8, 1);
  }
  85% {
    -webkit-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.1, 1.1, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes anim-moema-1 {
  60% {
    -webkit-transform: scale3d(0.8, 0.8, 1);
    transform: scale3d(0.8, 0.8, 1);
  }
  85% {
    -webkit-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.1, 1.1, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@-webkit-keyframes anim-moema-2 {
  to {
    opacity: 0;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
*/ @keyframes anim-moema-2 {
  to {
    opacity: 0;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
/* section2 */
.image_box {
  width: 100%;
  height: fit-content;
}
.big_box {
  width: 1400px;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  row-gap: 40px;
  margin: 0 auto;
}
.big_box > div,
.linebox {
  width: 430px;
  height: 320px;
  border-radius: 30px;
  background-color: pink;
  overflow: hidden;
}
.big_box > div:first-child,
.linebox {
  background-image: url(../img/img1/img3.jpg);
  background-size: 430px;
}
.big_box > div:nth-child(2) {
  background-image: url(../img/img1/img2.jpg);
  background-size: 430px;
}
.big_box > div:nth-child(3) {
  background-image: url(../img/img1/img5.jpg);
  background-size: 430px;
}
.big_box > div:nth-child(4) {
  background-image: url(../img/img1/img4.jpg);
  background-size: 430px;
}
.big_box > div:nth-child(5) {
  background-image: url(../img/img1/img1.jpg);
  background-size: 430px;
}
.big_box > div:nth-child(6) {
  background-image: url(../img/img1/img6.jpg);
  background-size: 430px;
}
.big_box > div:nth-child(7) {
  background-image: url(../img/img1/img7.jpg);
  background-size: 430px;
}
.big_box > div:nth-child(8) {
  background-image: url(../img/img1/img8.jpg);
  background-size: 430px;
}
.big_box > div:hover {
  -webkit-transition: box-shadow 0.5s;
  transition: box-shadow 0.5s;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2), 0 0 15px rgba(0, 0, 0, 0.3);
}

.linebox {
  display: block;
  text-transform: uppercase;
  /* overflow: hidden; */
  position: relative;
  color: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
.linebox:after {
  content: "download";
  position: absolute;
  left: 0;
  top: 250px;
  height: 490%;
  width: 500%;
  color: white;
  background: rgb(0, 0, 0, 0.3);
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
  transform: translateX(-98%) translateY(-25%) rotate(45deg);
  z-index: 2;
}

.linebox:hover:after {
  -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
  transform: translateX(-9%) translateY(-25%) rotate(45deg);
}
.linebox span {
  width: fit-content;
  line-height: 30px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-weight: 700;
  font-size: 15px;
  border: 1px solid white;
  padding: 0 20px;
  z-index: 5;
  opacity: 0;
}
.linebox:hover > span {
  opacity: 1;
  -webkit-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}
.linebox:not(:hover) > span {
  opacity: 0;
  -webkit-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

/* 세번째 섹션 블랙 */
.black_back {
  background-color: #222;
  color: #fff;
  text-align: center;
}
.black_back h3 {
  font-size: 55px;
  line-height: 70px;
}
.black_back h3::after {
  display: block;
  content: "line";
  font-size: 0;
  width: 200px;
  height: 3px;
  background-color: #c22e2e;
  margin: 0 auto;
  margin-top: 50px;
}

/* 네번째 섹션 리스트 */
.list_wrap {
  width: 100%;
  height: auto;
  padding: 0;
}
.list_box {
  width: 1000px;
  height: auto;
  margin: 0 auto;
}
.list_box h3 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 50px;
}
#site_map {
  width: 100%;
  height: 120px;
  display: block;
}
#site_map ul {
  width: 25%;
  height: fit-content;
  font-size: 16px;
  float: left;
  list-style: disc inside;
}
#site_map li,
#site_map a {
  color: #4d4d4d;
  line-height: 24px;
}

#site_map a:hover {
  color: #c22e2e;
}

/* 네번째 섹션 블랙 */

.black_back > p {
  padding-top: 50px;
  font-size: 16px;
  width: 1000px;
  text-align: center;
  margin: 0 auto;
}

.black_back h4 {
  padding-top: 30px;
  font-size: 16px;
  color: #fff;
  font-weight: bold;
}
/* 버튼 */
button {
  border: none;
  background: none;
}
label[for="white_btn"] {
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: 100px;
  color: #000000;
}
#white_btn {
  margin-top: 30px;
  padding: 20px 30px;
  border-radius: 40px;
  background: #ffffff;
  -webkit-transition: background-color 0.3s, color 0.3s;
  transition: background-color 0.3s, color 0.3s;
}
#white_btn::before {
  content: "";
  position: absolute;
  top: -20px;
  left: -20px;
  bottom: -20px;
  right: -20px;
  background: inherit;
  border-radius: 50px;
  z-index: -1;
  opacity: 0.4;
  -webkit-transform: scale3d(0.8, 0.5, 1);
  transform: scale3d(0.8, 0.5, 1);
}
#white_btn:hover {
  -webkit-transition: background-color 0.1s 0.3s, color 0.1s 0.3s;
  transition: background-color 0.1s 0.3s, color 0.1s 0.3s;
  color: #eceff1;
  background-color: #c22e2e;
  -webkit-animation: anim-moema-1 0.3s forwards;
  animation: anim-moema-1 0.3s forwards;
}
#white_btn:hover::before {
  -webkit-animation: anim-moema-2 0.3s 0.3s forwards;
  animation: anim-moema-2 0.3s 0.3s forwards;
}
@-webkit-keyframes anim-moema-1 {
  60% {
    -webkit-transform: scale3d(0.8, 0.8, 1);
    transform: scale3d(0.8, 0.8, 1);
  }
  85% {
    -webkit-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.1, 1.1, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes anim-moema-1 {
  60% {
    -webkit-transform: scale3d(0.8, 0.8, 1);
    transform: scale3d(0.8, 0.8, 1);
  }
  85% {
    -webkit-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.1, 1.1, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@-webkit-keyframes anim-moema-2 {
  to {
    opacity: 0;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
*/ @keyframes anim-moema-2 {
  to {
    opacity: 0;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
/* 푸터 */
footer {
  line-height: 50px;
  text-align: center;
}
